[submodule "server"]
	path = server
	url = git@github.com:Voidware-Prohibited/targetvector-api-backend-stack.git
[submodule "client"]
	path = client
	url = https://github.com/Voidware-Prohibited/targetvector-api-frontend-stack.git
